html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
  background-color: #FBFBFB;
}

/* #region header */

.header__content-logo {
  margin-top: 15.88px;
  margin-bottom: 15.88px;
  width: 48.09px;
  height: 48.23px;
}

.header__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: 50px;
  margin-left: 80px;
  margin-right: 80px;
}

.header__content-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.item-courses {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header__content-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: black;
  text-decoration: none;
  position: relative;
}

.header__content-item-link.active {
  color: #003366;

}

.header__content-item-link.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -11px;
  width: 100%;
  height: 1px;
  background-color: #003366;
}

.header__content-courses-button {
  background-color: white;
  border: none;
  padding: 0;
  padding-top: 5px;
}

.header__content-item-button {
  background-color: #003366;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  border-radius: 14px;
  padding: 14px 30px;
  margin-left: 32px;
}

/* #endregion header */

/* #region hero */

.hero__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 50px;
}

.hero__content-left {
  background-color: #003366;
  border-radius: 20px;
  padding: 100px 80px;
}

.hero__content-left-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 57.6px;
  color: #FBFBFB;
  width: 729px;
  margin: 0;
  margin-bottom: 16px;
  height: 178px;
}

.hero__content-left-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: white;
  margin: 0;
  margin-bottom: 40px;
}

.hero__content-left-button {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #003366;
  background-color: #FBFBFB;
  border-radius: 14px;
  padding: 14px 20px;
}

.hero__content-right {
  width: 433px;
}

/* #endregion hero */

/* #region advantages */

.advantages__content {
  padding-top: 70px;
  padding-bottom: 53px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: #E0E7EF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages__content-title {
  text-transform: uppercase;
  color: #003366;
  background-color: #FBFBFB;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  border-radius: 16px;
  font-size: 42px;
  line-height: 63px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-align: left;
  width: auto;
}

.advantages__content-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 23.5px;
  list-style-type: none;
  padding: 0;
}

.advantages__content-item {
  background-color: #FBFBFB;
  width: 431px;
  height: 274px;
  border-radius: 14px;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.advantages__content-item-img {
  width: 64px;
  height: 64px;
}

.advantages__content-item-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  font-family: "Poppins", sans-serif;
  color: #003366;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 12px;
}

.advantages__content-item-desc {
  color: #343434;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  width: 371px;
}

/* #endregion advantages */

/* #region about-us */

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-us__content-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.about-us__content-top--title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 63px;
  color: #003366;
  text-transform: uppercase;
  margin: 0;
}

.about-us__content-top--right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.about-us__content-top--button {
  background-color: #003366;
  border-radius: 100px;
  padding: 14px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.about-us__content-top--img {
  width: 24px;
  height: 24px;
}

.about-us__content-top--text {
  text-transform: uppercase;
  font-weight: 500;
  color: #343434;
  font-size: 20px;
  line-height: 30px;
}

.about-us__content-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}

.about-us__content-bottom--info {
  background-color: #003366;
  width: 660px;
  height: 333px;
  border-radius: 14px;
}

.about-us__content-bottom--info-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #FBFBFB;
  margin: 0;
  padding-top: 37px;
  padding-left: 34px;
}

.about-us__content-bottom--info-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #FBFBFB;
  margin: 0;
  padding-left: 34px;
  padding-bottom: 22px;
  padding-right: 32px;
  padding-top: 21px;
}

.about-us__content-bottom--more {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  list-style-type: none;
  padding: 0;
  margin-top: 31px;
}

.about-us__content-bottom--more-item {
  width: 317px;
  height: 211px;
  background-color: #003366;
  border-radius: 14px;
}

.about-us__content-bottom--more-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 63px;
  text-align: center;
  margin: 0;
  padding-top: 34px;
  color: #FBFBFB;
}

.about-us__content-bottom--more-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin: 0;
  color: #FBFBFB;
}

/* #endregion about-us */

/* #region courses */

.courses {
  margin-bottom: 121px;
}

.courses_title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 63px;
  color: #003366;
  text-transform: uppercase;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 80px;
}

.courses_content {
  border: 2px #003366 solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  margin-left: 80px;
  padding: 40px;
}

.courses_content:not(:last-child) {
  margin-bottom: 20px;
}

.courses_content-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.courses_content-header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.courses_content-header-left--star {
  width: 60px;
  height: 60px;
  background-color: #003366;
  border-radius: 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.courses_content-header-left--star-img {
  width: 28px;
  height: 28px;
}

.courses_content-header-left--title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #003366;
  text-transform: uppercase;
  margin: 0;
  margin-left: 14px;
}

.courses_content-header-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.courses_content-header-right--button {
  width: 40px;
  height: 40px;
  background-color: #003366;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

.courses_content-header-right--button-img {
  width: 24px;
  height: 24px;
}

.courses_content-header-right--text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #343434;
  text-transform: uppercase;
}

.courses_content-more-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  gap: 12px;
  padding: 0;
  margin: 0;
  margin-top: 40px;
}

.courses_content-more-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #EFF3F7;
  padding: 10px 16px;
  border-radius: 45px;
}

.courses_content-more-item--img {
  width: 24px;
  height: 24px;
}

.courses_content-more-item--text {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #343434;
}

.courses_content-info-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #003366;
  text-transform: uppercase;
  margin: 0;
  margin-top: 40px;
}

.courses_content-info-parag {
  color: #343434;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  margin-top: 16px;
}

.courses_content-info-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 8px;
}

.courses_content-info-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.courses_content-info-item:not(:last-child) {
  margin-bottom: 4px;
}

.courses_content-info-item--img {
  width: 24px;
  height: 24px;
}

.courses_content-info-item--text {
  margin: 0;
}

.courses_content-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
}

.courses_content-price--text {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #003366;
  text-transform: uppercase;
  margin: 0;
}

.courses_content-price--line {
  width: 2px;
  height: 45px;
  margin: 0;
  background-color: #003366;
  border: none;
}

.courses_content-price--sum {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #003366;
  margin: 0;
}

.courses_content-button {
  width: 216px;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FBFBFB;
  padding: 14px 30px;
  background-color: #003366;
  border: none;
  border-radius: 14px;
  margin-top: 40px;
  cursor: pointer;
}

/* #endregion courses */

/* #region contact */

.contact {
  background-color: #003366;
  padding: 50px 80px;
}

.contact__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.contact__content-left--title {
  color: #FBFBFB;
  font-weight: 500;
  font-size: 42px;
  line-height: 63px;
  width: 658px;
  height: 126px;
  margin: 0;
  text-transform: uppercase;
}

.contact__content-left--desc {
  color: #FBFBFB;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  margin-top: 4px;
}

.contact__content-right {
  display: flex;
  flex-direction: column;
}

.contact__content-right--input {
  width: 658px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #343434;
  padding: 18.5px 14px;
  border: 1px #ECECEC solid;
  border-radius: 4px;
  margin-bottom: 24px;
}

.contact__content-right--button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #003366;
  width: 213px;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 14px;
  border: none;
  background-color: #FBFBFB;
  margin-top: 16px;
  cursor: pointer;
}

/* #endregion contact */

/* #region testimonials */

.testimonials {
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
}

.testimonials__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 63px;
  color: #003366;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.testimonials__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 50px;
}

.testimonials__content-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px #003366 solid;
  border-radius: 12px;
  padding: 20px;
}

.testimonials__content-item-info {
  margin-left: 20px;
  width: 340px;
}

.testimonials__content-item-info--name {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #343434;
  margin: 0;
}

.testimonials__content-item-info--role {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6B6B6B;
  margin: 0;
  margin-top: 2px;
}

.testimonials__content-item-info--stars {
  margin-top: 2px;
}

.testimonials__content-item-info--star {
  width: 24px;
  height: 24px;
}

.testimonials__content-item-info--text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #343434;
  margin: 0;
  margin-top: 16px;
}

.testimonials__content-pagination {
  border: 1px #BFCCD8 solid;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  width: 221px;
}

.testimonials__content-pagination--button {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 46px;
  border: 1px #C2D1E0 solid;
  background-color: #C2D1E0;
  cursor: pointer;
}

.testimonials__content-pagination--button.disabled {
  opacity: 0.5;
  background-color: #C2D1E0;
  border: 1px #C2D1E0 solid;
  cursor: not-allowed;
}

.testimonials__content-pagination--button.left-button {
  background-color: #003366;
  border: 1px #003366 solid;
}

.testimonials__content-pagination--button.right-button {
  background-color: #003366;
  border: none;
}

.testimonials__content-pagination--button.active {
  color: #003366;
}

.testimonials__content-pagination--button-img {
  width: 20px;
  height: 20px;
}

.testimonials__content-pagination--line {
  height: 4px;
  border-radius: 20px;
  border: none;
  margin: 0;
  margin-right: 2px;
}

.testimonials__content-pagination--line.active {
  background-color: #003366;
  width: 24px;
}

.testimonials__content-pagination--line.inactive {
  background-color: #C2D1E0;
  width: 13px;
}

.left-button {
  margin-right: 30px;
}

.right-button {
  margin-left: 28px;
}

.testimonials__content-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 47px;
}

/* #endregion testimonials */

/* #region faq */

.faq {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 49px;
  margin-bottom: 39px;
}

.faq__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 63px;
  color: #003366;
  margin: 0;
  margin-bottom: 20px;
}

.faq__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.faq__content-item--active {
  border-radius: 16px;
  border: 1px #003366 solid;
  width: 772px;
  padding: 40px;
  box-sizing: border-box;
  margin-bottom: 20px;
  height: 251px;
}

.faq__content-item--disabled {
  border-radius: 16px;
  border: 1px #003366 solid;
  width: 772px;
  padding: 35px 40px;
  box-sizing: border-box;
  height: 100px;
}

.faq__content-item--disabled .faq__content-item--more {
  display: none;
}

.faq__content-item--disabled .faq__content-item-top--button-img {
  content: url('img/plus.svg');
}

.faq__content-item--active .faq__content-item-top--button-img {
  content: url('img/minus.svg');
}

.faq__content-item--disabled:not(:last-child) {
  margin-bottom: 20px;
}

.faq__content-item-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.faq__content-item-top--title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #343434;
  margin: 0;
}

.faq__content-item-top--button {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #003366;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.faq__content-item-top--button-img {
  width: 24px;
  height: 24px;
}

.faq__content-item-line {
  width: 612px;
  margin: 0;
  border: 1px #003366 solid;
  margin-top: 30px;
}

.faq__content-item-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #343434;
  margin: 0;
  margin-top: 30px;
  width: 612px;
}

.faq__content-form {
  background-color: #003366;
  padding: 57.5px 60px;
  border-radius: 14px;
  height: 611px;
  box-sizing: border-box;
}

.faq__content-form--title {
  color: #FBFBFB;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin: 0;
}

.faq__content-form--line {
  width: 424px;
  border: 1px #FBFBFB solid;
  margin: 0;
  margin-top: 40px;
}

.faq__content-form--inputs {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.faq__content-form--input {
  width: 424px;
  border-radius: 4px;
  border: 1px #ECECEC solid;
  padding: 18.5px 14px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #343434;
}

.faq__content-form--input-quest {
  width: 424px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #343434;
  padding-top: 12px;
  padding-bottom: 74px;
  padding-right: 14px;
  padding-left: 14px;
  border: 1px #C4C4C4 solid;
  border-radius: 4px;
}

.faq__content-form--button {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #003366;
  background-color: #FBFBFB;
  border: none;
  padding: 14px 30px;
  border-radius: 14px;
  margin-top: 20px;
  cursor: pointer;
}

/* #endregion faq */

/* #region footer */

.footer__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 44.12px;
  margin-bottom: 44.12px;
}

.footer__content-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  list-style-type: none;
  padding: 0;
}

.footer__content-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #003366;
  text-align: center;
  margin: 0;
  margin-left: 266px;
}

.footer__content-item--link {
  padding: 12px 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #343434;
  text-decoration: none;
}

/* #endregion footer */